body {
    background-color: white;
    text-align: center;
    font-family: 'Glacial Indifference', sans-serif;
    line-height: 2;
    color: rgb(32, 32, 32);
    font-size: 1.45rem;
}

p {
    line-height: 2;
}

h1 {
    margin: 2.65rem auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
    color: #3d2580;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #3d2580;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3d2580;
    font-weight: 300;
}

.xp {
    border-radius: 50%;
    width: 60px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.dot {
    border-top: 7px dotted #EAF6F6;
    width: 5%;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.skill-row {
    width: 50%;
    margin: 100px auto 200px auto;
    text-align: left;
    line-height: 2;
}

.s1 {
    width: 150px;
    float: left;
    margin-right: 30px;
    border-radius: 50%;
}

.s3 {
    width: 150px;
    height: 100px;
    float: left;
    margin-right: 30px;
    border-radius: 100%;
}

.s2 {
    width: 150px;
    float: right;
    margin-left: 30px;
    border-radius: 100%;
}

.up {
    position: absolute;
    right: 20%;
    top: 50px;
}

.down {
    position: absolute;
    bottom: 54%;
    left: 20%;
}

.pro {
    text-decoration: underline;
}

.top {
    background-color: #EAF6F6;
    padding-top: 100px;
    position: relative;
    padding: 50px;
}

.footer-link {
    color: #11999E;
    text-align: center;
    margin: 30px;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px;
}

.button {
    background-color: #66BFBF;
    text-align: center;
    font-size: 1rem;
    margin: 100px;
    border-radius: 10px;
    border: none;
    width: auto;
    padding: 20px;
    cursor: pointer;
    color: white;
}

#projects {
    margin-left: 35%;
}

#node {
    list-style-image: url("https://img.icons8.com/color/50/000000/nodejs.png");
}

#js {
    list-style-image: url("https://img.icons8.com/color/50/000000/javascript.png");
}

#flutter {
    list-style-image: url("https://img.icons8.com/color/50/000000/flutter.png");
}

#java {
    list-style-image: url("https://img.icons8.com/color/50/000000/java.png");
}

#dart {
    list-style-image: url("https://img.icons8.com/color/50/000000/dart.png");
}

#Ip {
    list-style-image: url("../images/ip2.png");
}

#OBB {
    list-style-image: url("https://img.icons8.com/color/50/000000/dart.png");
}

#IT {
    list-style-image: url("https://img.icons8.com/fluency/48/000000/computers-connecting.png");
}

#tw {
    list-style-image: url("https://img.icons8.com/color/48/000000/12.png");
}

#ten {
    list-style-image: url("https://img.icons8.com/color/48/000000/10.png");
}

li>a {
    text-align: center;
    border: none;
    width: auto;
    font-family: inherit;
    line-height: 2;
    color: inherit;
    font-size: 1.45rem;
}

switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2d0075;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2d0075;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.mode {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 95%;
}

::marker {
    align-items: center;
    margin: 10px;
}

.back {
    padding: 20px;
    background-color: #EAF6F6;
}


/* .back {
    padding: 20px;
    background-image:url('../images/km.png');
} */

h4 {
    color: inherit;
    font: inherit;
}


/* body {
    background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
    background-position: center;
} */